* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 12px;
  scrollbar-color: var(--primary) var(--background);
}

html,
body {
  background: var(--page-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Cuprum", sans-serif;
}