.cards-container-code {
  width: calc(100% - 12px);
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-container-code > * {
  flex: 0 0 calc(50% - 10px); 
  max-width: calc(50% - 10px);
}