.rain-background {
  position: absolute;
  inset: 0;
}

.rain-background::before {
  content: "";
  position: absolute;
  inset: -145%;
  rotate: -45deg;
  background: transparent;
  background-image: radial-gradient(
      4px 100px at 0px 235px,
      var(--rain-color),
      #0000
    ),
    radial-gradient(4px 100px at 300px 235px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 117.5px,
      var(--rain-color) 100%,
      #0000 150%
    ),
    radial-gradient(4px 100px at 0px 252px, var(--rain-color), #0000),
    radial-gradient(4px 100px at 300px 252px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 126px,
      var(--rain-color) 100%,
      #0000 150%
    ),
    radial-gradient(4px 100px at 0px 150px, var(--rain-color), #0000),
    radial-gradient(4px 100px at 300px 150px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 75px,
      var(--rain-color) 100%,
      #0000 150%
    ),
    radial-gradient(4px 100px at 0px 204px, var(--rain-color), #0000),
    radial-gradient(4px 100px at 300px 204px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 102px,
      var(--rain-color) 100%,
      #0000 150%
    ),
    radial-gradient(4px 100px at 0px 134px, var(--rain-color), #0000),
    radial-gradient(4px 100px at 300px 134px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 67px,
      var(--rain-color) 100%,
      #0000 150%
    ),
    radial-gradient(4px 100px at 0px 179px, var(--rain-color), #0000),
    radial-gradient(4px 100px at 300px 179px, var(--rain-color), #0000),
    radial-gradient(
      1.5px 1.5px at 150px 89.5px,
      var(--rain-color) 100%,
      #0000 150%
    );
  background-size: 300px 235px, 300px 235px, 300px 235px, 300px 252px,
    300px 252px, 300px 252px, 300px 150px, 300px 150px, 300px 150px, 300px 204px,
    300px 204px, 300px 204px, 300px 134px, 300px 134px, 300px 134px, 300px 179px,
    300px 179px, 300px 179px;
  animation: rainFall 150s linear infinite;
  opacity: 0.15;
}

@keyframes rainFall {
  0% {
    background-position: 0px 220px, 3px 220px, 151.5px 337.5px, 25px 24px,
      28px 24px, 176.5px 150px, 50px 16px, 53px 16px, 201.5px 91px, 100px 19px,
      103px 19px, 251.5px 121px, 125px 120px, 128px 120px, 276.5px 187px,
      150px 31px, 153px 31px, 301.5px 120.5px;
  }
  to {
    background-position: 0px 6800px, 3px 6800px, 151.5px 6917.5px, 25px 13632px,
      28px 13632px, 176.5px 13758px, 50px 5416px, 53px 5416px, 201.5px 5491px,
      100px 5119px, 103px 5119px, 251.5px 5221px, 125px 8428px, 128px 8428px,
      276.5px 8495px, 150px 9876px, 153px 9876px, 301.5px 9965.5px;
  }
}
