@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap");

@import "base/variables";
@import "base/reset";
@import "base/globals";

@import "components/theme-toggle";
@import "components/buttons";
@import "components/forms";
@import "components/code.scss";

@import "pages/start";
@import "pages/loading";
@import "pages/code";
@import "pages/baza";